body {
    min-width: 300px;
    min-height: 300px;
    overflow: hidden;
    background: url("../images/backgrounds/popup-background.png") no-repeat;
    background-size: cover;
}

#popup-header {
    display: flex;
    align-items: flex-start;
    margin-bottom: 3%;
}

#popup-logo {
    position: fixed;
    width: 20px;
    height: 20px;
    margin-left: 5%;
    margin-top: 5%;
    flex: 1;
}

#popup-title {
    margin-top: 5%;
    margin-left: 17%;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 23px;
    font-weight: bold;
    background: -webkit-linear-gradient(#47228f, #e3c85d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    flex: 1;
}

div.info-container {
    border: #e0d6f5 solid 1px;
    background: rgba(224, 214, 245, 0.5);
    height: 35px;
    margin: 1% 5% 0 5%;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

div.info-container:hover {
    cursor: pointer;
}

#oAuth:hover {
    background: rgba(224, 214, 245, 0.8);
    box-shadow: 1px 2px rgba(70, 24, 60, 0.4);
}

#bolt {
    position: fixed;
    border: 4px solid rgba(0,0,0,0);
    border-bottom: 18px solid #47228f;
    transform: rotateZ(-160deg);
    padding: 2px;
    width: 0;
    height: 0;
    margin: 0 3px 3px 3px;
    overflow: visible;
    border-top: 0 solid;
    border-radius: 0;
    transform-origin: 50% 50% 0;
    flex: 1;
}

#bolt:after {
    position: absolute;
    content: "";
    top: -9px;
    left: -8px;
    border: 5px solid rgba(0, 0, 0, 0);
    border-bottom: 23px solid #47228f;
    transform: rotateZ(4deg);
    padding: 0;
    width: 0;
    height: 0;
    margin: 0;
    overflow: visible;
    border-top: 0 solid;
    border-radius: 0;
    transform-origin: 50% 50% 0;
}

#oAuth-message {
    text-align: center;
    vertical-align: center;
    color: rgb(70, 24, 60);
    font-family: "Hiragino Kaku Gothic Pro", sans-serif;
    font-size: 11px;
    font-weight: bold;
    flex: 1
}

.instructions {
    margin-top: 5%;
    margin-left: 5%;
    color: rgb(60, 9, 60);
    font-family: "Hiragino Kaku Gothic Pro", sans-serif;
    font-size: 13px;
    font-weight: normal;
}

#services {
    height: 100px;
    margin-top: -5%;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 3px;
    flex: 0 0 50%;
}

div.icon-holder {
    width: 53px;
    height: 53px;
    border-width: 4px;
    margin-top: 2%;
    background: white;
}

.icon {
    width: 100%;
    height: 100%;
}

.service-name {
    text-align: center;
    color: rgba(90, 24, 107, 0.6);
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 13px;
    font-weight: bold;
}

#sync-button {
    margin: 2% 19% 0 19%;
    align-items: center;
    justify-content: center;
    height: 35px;
    border-radius: 3px;
    border: #e0d6f5 solid 2px;
    text-align: center;
    box-shadow: 1px 2px rgba(70, 24, 60, 0.4);
}

#sync-button:hover {
    cursor: pointer;
}

.start-sync {
    line-height: 35px;
    color: rgba(70, 24, 60, 0.5);
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 15px;
    font-weight: bold;
}



